{% extends 'main.html' %}
{% block title %} <title>Heroes</title>{% endblock %}

{% block content %}
    <h1>Heroes</h1><hr><br>
    <div style="display: flex; flex-wrap: wrap; gap: 20px; margin: 0 3%;">
        {% for hero in heroes %}
        <div class="card" style="flex: 1 1 calc(33.33% - 40px); box-sizing: border-box; margin-bottom: 20px;">
            <div style="width: 100%; height: 0; padding-bottom: 75%; position: relative; overflow: hidden;">
                <img src="{{ hero.picture.url }}" alt="{{ hero.name }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="card-content">
                <h2 class="card-title">{{ hero.name }}</h2>
                <p class="card-description">{{ hero.description|slice:":150" }}</p>
                <a href="#" class="card-link">Learn More</a>
            </div>
        </div>
        {% endfor %}
    </div><br><br>
{% endblock %}
