{% extends 'main.html' %}
{% block title %} <title>Home</title>{% endblock %}
{% load static %}

{% block content %}
    <section class="banner">
        <video autoplay muted loop id="myVideo">
            <source src="{% static 'videos/geo.mp4' %}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </section>
    <script type="text/javascript">
        window.addEventListener("scroll", function() {
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        });
    </script>

{% endblock %}
